//Author: Sanchita Kanade
//	File: _variables.scss

$font-body: 'Roboto';
$white:#FFF;
$red: #E65C43;
$grey:#666;
$headline-background:#F25C43;
$light-grey: #F5F6F6;
$footer-background:#30353D;
$body-background:'../images/bg.gif';
$vectacorp-logo:'../images/logo.png';
$social-media-image:'../images/social-media.png';

// variables for _base.scss
$heading-colors: $red, $white, $grey;
$heading-font-weight:100,900,400;
$heading-font-size: 4em, 2.5em, 2em;